**/slprj/
**/codegen/
**/*_ert_rtw/
**/*_grt_rtw/
**/*_rtw/
**/simulink_cache/
**/Simulink_cache/
*.asv
__pycache__/
*.pyc
.vscode/
.idea/
.DS_Store
Thumbs.db
.env
*.pem
*.key
*.pem.crt
*.crt
*.env
*.exe
*.zip
*.msi
*.mp4
*.zip
